<app-search></app-search>
<ul>
  <li *ngFor="let item of items">
    <a routerLink="/item/{{item.id}}">
      <img [src]="item.imageUrl" [alt]="item.name"/>
      <div class="content">
        <div class="name">
          {{ item.name }}
        </div>
      <div class="product-item-footer">
        <div class="origins">
          <span *ngFor="let origin of item.origins">
            {{origin}}
          </span>
        </div>
        <div class="work-time">
          <span>🕒</span>
          {{ item.workTime }}
        </div>
        <div class="price">
          <span>
            {{ item.price | currency }}
          </span>
        </div>
      </div>
    </div>
    </a>
  </li>
</ul>
