<app-search></app-search>
<app-tags></app-tags>
<ul>
  <li *ngFor="let cup of cups">
    <a routerLink="/cup/{{cup.id}}">
      <img [src]="cup.imageUrl" [alt]="cup.name"/>
      <div class="content">
        <div class="name">
          {{ cup.name }}
        </div>
      <div class="product-cup-footer">
        <div class="origins">
          <span *ngFor="let origin of cup.origins">
            {{origin}}
          </span>
        </div>
        <div class="work-time">
          <span>🕒</span>
          {{ cup.workTime }}
        </div>
        <div class="price">
          <span>
            {{ cup.price | currency }}
          </span>
        </div>
      </div>
    </div>
    </a>
  </li>
</ul>
