<app-not-found
  [visible]="!cup.id"
  notFoundMessage="Item Not Found"
  resetLinkText="Back To Homepage">
</app-not-found>
<div *ngIf="cup.id" class="container">
  <img [src]="cup.imageUrl" [alt]="cup.name"/>

  <div class="details">
    <div class="header">
      <span class="name">
        {{cup.name}}
      </span>
    </div>
    <div class="tags">
      <a *ngFor="let tag of cup.tags" routerLink="/tag/{{tag}}">
        {{tag}}
      </a>
    </div>
    <div class="work-time">
      <span>
        Time needed to complete <strong>{{cup.workTime}}</strong>
      </span>
    </div>
    <div class="price">
      <span>
        {{ cup.price | currency }}
      </span>
    </div>
    <button (click)="addToCart()">
      Add To Cart
    </button>
  </div>
</div>
